_site
Gemfile.lock
.sass-cache
.jekyll-metadata
.DS_Store
.jekyll-cache
*.gem

# Ignore specific posts
An-Old-Man.md
In-Defense-of-G.md
Motivation.md
Mythical-races.md
Things-that-you
Things-that-I-thought-are-french-but-they-are-actually-belgian.md
Van-Eyck-website.md
cult-prac.md