_site
Gemfile.lock
.sass-cache
.jekyll-metadata
.DS_Store
.jekyll-cache
*.gem

# Ignore specific posts
In-Defense-of-G.md
Motivation.md
Mythical-races.md
Things-that-you
Things-that-I-thought-are-french-but-they-are-actually-belgian.md
cult-prac.md
Human-zoo-Belgium.md
Colonizers-of-Denmark-Greenland.md
Princess-of-Ukok.md